/* INDEX PAGE */

#homeBody{
    background-color: black !important;
    background-image: url(https://i.postimg.cc/BQ4LCCXd/background-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#homeHeader{
    color: blue;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    font-size: 120px;
    font-family: "Audiowide", sans-serif;
}

#slogan{
    color: blue;
    justify-content: center;
    display: flex;
    font-size: 35px;
}

#navBar{
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 0.9;
}

#Logo{
    width: 100px;
    height: 100px;
    margin-right: 350px;
}

.container-fluid{
    background-color: yellow;
}

#searchButt{
    color: black;
    border-color: blue;
    border: 3px solid;
}
#searchButt:hover{
    color: white;
    background-color: black;
    transition: 0.4s;
}
#searchBar{
    color: black;
    border-color: blue;
    border: 3px solid;
}


#navText{
    font-size: larger;
    color: blue;
}

#navText:hover{
    transform: scale(1.2);
    transition: 0.3s;
    text-decoration: underline blue;
}

#carouselExampleAutoplaying{
    margin-top: 60px;
}

#slideImage{
    width: 300px;
    height: 300px;
    opacity: 0.5;
}
#footer{
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

/* ABOUT US PAGE */

#aboutBody{
    background-color: black;
}
#aboutHeader{
    color: blue;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    font-size: 120px;
    font-family: "Audiowide", sans-serif;
}

h2{
    color: yellow !important;
    font-family: "Audiowide", sans-serif;
}

#ab{
    font-size: larger;
    border: 2px solid yellow;
    padding: 10px;
    color: yellow;
}

@keyframes RunBoi {
    0%{
     transform: translateX(1200px);
    }
    
    100%{
        transform: translateX(1200px);
        transform: scaleX(1);
    }
}

#Pika {
  animation-name: RunBoi;
  animation-duration: 5s;
  position: relative;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}