/* INDEX PAGE */

#homeBody{
    background-color: black !important;
    background-image: url(https://i.postimg.cc/BQ4LCCXd/background-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#homeHeader{
    color: black;
    z-index: 1;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    font-size: 120px;
    font-family: "Audiowide", sans-serif;
    text-shadow: white 0px 0px 30px;
}

#slogan{
    color: black;
    z-index: 1;
    justify-content: center;
    display: flex;
    font-size: 35px;
    font-weight: bolder;
    text-shadow: white 0px 0px 30px;
}

#navBar{
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 0.9;
}

#Logo{
    width: 100px;
    height: 100px;
    margin-right: 350px;
}
#Logo:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.container-fluid{
    background-color: yellow;
}

#searchButt{
    color: black;
    border-color: blue;
    border: 3px solid;
    background-color: white;
    font-weight: bolder;
}
#searchButt:hover{
    color: white;
    background-color: black;
    transition: 0.4s;
}
#searchBar{
    color: black;
    border-color: blue;
    border: 3px solid;
}


#navText{
    font-size: larger;
    color: blue;

}

#navText:hover{
    transform: scale(1.2);
    transition: 0.3s;
    text-decoration: underline black;
    color: red;
    text-shadow: red 0px 0px 15px;
}

#carouselExampleAutoplaying{
    margin-top: 60px;
}

#slideImage{
    width: 300px;
    height: 300px;
    opacity: 0.5;
}
#footer{
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 360px;
}

/* ABOUT US PAGE */

#aboutBody{
    background-color: black;
}
#aboutHeader{
    color: yellow;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    font-size: 120px;
    font-family: "Audiowide", sans-serif;
}

h2{
    color: yellow !important;
    font-family: "Audiowide", sans-serif;
}

#ab{
    font-size: larger;
    border: 2px solid yellow;
    padding: 10px;
    color: yellow;
    font-family: Audiowide;
}

@keyframes RunBoi {
    0%{
     transform: translateX(1200px);
    }
    
    100%{
        transform: translateX(1200px);
        transform: scaleX(1);
    }
}

#Pika {
  animation-name: RunBoi;
  animation-duration: 5s;
  position: relative;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

/* Admin Page */
.modal-body{
    background-color: black;
}
#adminBody{
    background-color: black;
}

#adminImg{
    width: 90px;
    height: 90px;
}
#adminImg:hover{
    transform: scale(2);
    transition: 0.2s;
}

#adminButt{
    color: red;
    background-color: white;
    border: solid 2px black;
    border-radius: 12px;
    font-weight: bolder;
}
#adminButt1{
    color: red;
    background-color: white;
    border: solid 2px black;
    border-radius: 12px;
    font-weight: bolder;
}
#adminButt2{
    color: red;
    background-color: white;
    border: solid 2px black;
    border-radius: 12px;
    font-weight: bolder;
}

#adminButt:hover{
    scale: 1.2;
    /* transition: 0.3s; */
    background-color: red;
    color: black;
}
#adminButt1:hover{
    /* transition: 0.3s; */
    background-color: red;
    color: black;
}
#adminButt2:hover{
    /* transition: 0.3s; */
    background-color: red;
    color: black;
}


#modalHead{
    justify-content: center;
    color: yellow;
    text-align: center !important;
    font-family: Audiowide;
    font-size: larger;
    margin-left: 42rem;
    text-shadow: 0px 0px 12px white !important;
}

#modalP{
    color: yellow;
    font-family: Audiowide;
    margin-top: 10px;
    text-shadow: 0px 0px 12px white !important;
    font-size: large;
}

#input1{
    border: solid 2px red;
    box-shadow: 0px 0px 7px red;
}
#input2{
    border: solid 2px red;
    box-shadow: 0px 0px 7px red;
}
#input3{
    border: solid 2px red;
    box-shadow: 0px 0px 7px red;
}
#input4{
    border: solid 2px red;
    box-shadow: 0px 0px 7px red;
}

/* Product Page */

#productBody{
    background-color: black ;
}

#mainProd{
    flex-wrap:wrap;
    display:flex;
}
.card-body{
    background-color: red;
    color: yellow !important;
    box-shadow: white 0px 0px 30px;
}
#cards{
    text-align: center;
    padding: 50px;
    margin-left: 5rem;
}
#cards:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#imgCard{
    box-shadow: white 0px 0px 30px;
}
footer{
    background-color: yellow;
    color: black !important;
    font-weight: bolder;
}

#sortButt{
    color: red;
    background-color: white;
    border: solid 2px black;
    border-radius: 12px;
    font-weight: bolder;
}

#sortButt:hover{
    scale: 1.2;
    transition: 0.3s;
    background-color: red;
    color: black;
}

#spinny{
    justify-content: center;
    align-items: center;
}

/* Checkout page */

#checkoutBody{
    background-color: black;
}